# Single-Pulse Data from Horsager et al. 2009

In [1]:
from os import environ
import pandas as pd
import numpy as np

In [2]:
def open_excel(filename, idx_sheet=0):
    xl = pd.ExcelFile(filename)
    df = xl.parse(xl.sheet_names[idx_sheet])
    assert 'Subject' in df.columns
    assert 'Electrode' in df.columns
    assert 'type' in df.columns
    assert 'data' in df.columns
    df.drop(df.index, inplace=True)
    return df

In [3]:
def load_row(df, subject, electrode, dtype='truth'):
    rows = (df['Subject'] == subject) & (df['Electrode'] == electrode) & (df['type'] == dtype)
    if not np.any(rows):
        return None, None
    elif np.count_nonzero(rows) > 1:
        print('More than one row found:')
        print(df.loc[rows, :])
        return None, None

    # Data points: [all pdurs, all amps]
    data = np.array(df.loc[rows, 'data':])
    data = data.reshape((2, -1))
    return data[0, :], data[1, :]

In [4]:
def append_row(df, subject, electrode, theta, dtype, pdurs, amps):
    # Add all data into a single np.array
    arr = np.concatenate((np.array([subject, electrode, theta, dtype]), pdurs, amps))
    
    # Make a PD series from it
    newrow = pd.Series(arr, index=df.columns)
    return df.append(newrow, ignore_index=True)

In [5]:
df = open_excel(environ['SECOND_SIGHT_DATA'] + '/horsager2009/single-pulse.xlsx')
df

Empty DataFrame
Columns: [Subject, Electrode, theta, type, data, Unnamed: 5, Unnamed: 6, Unnamed: 7, Unnamed: 8, Unnamed: 9, Unnamed: 10, Unnamed: 11, Unnamed: 12, Unnamed: 13, Unnamed: 14, Unnamed: 15, Unnamed: 16, Unnamed: 17, Unnamed: 18, Unnamed: 19]
Index: []

## Fig. 3

In [6]:
s05 = dict()
s05['name'] = 'S05'
s05['C3'] = dict()
s05['C3']['theta'] = 110.3
s05['C3']['truth'] = np.array([0.07335, 181.61765, 0.14914, 97.79412,
                               0.21985, 64.70588, 0.52707, 33.08824,
                               0.74660, 29.41176, 0.96980, 24.26471,
                               1.97952, 18.38235, 3.96939, 14.70588]).reshape((-1, 2))
s05['C3']['pred'] = np.array([0.07366, 189.77047, 0.14964, 95.14384,
                              0.22443, 65.12623, 0.53076, 33.78344,
                              0.75387, 25.80726, 0.99794, 22.22036,
                              2.01142, 16.56183, 3.98276, 13.83880]).reshape((-1, 2))

s06 = dict()
s06['name'] = 'S06'
s06['A1'] = dict()
s06['A1']['theta'] = 10.0
s06['A1']['truth'] = np.array([0.07849, 84.93435, 0.15524, 48.68901,
                               0.22870, 37.13894, 0.53016, 25.10288,
                               0.76328, 20.78385, 0.98404, 23.31178,
                               2.02255, 15.35959, 4.06677, 17.05271]).reshape((-1, 2))
s06['A1']['pred'] = np.array([0.07892, 97.35058, 0.15514, 47.30943,
                              0.23022, 32.31432, 0.51896, 16.12777,
                              0.74122, 13.52930, 0.97902, 11.58534,
                              1.98159, 8.45385, 3.97963, 7.38781]).reshape((-1, 2))

In [7]:
for data, electrode in zip([s05, s06], ['C3', 'A1']):
    subject = data['name']
    for dtype in ['truth', 'pred']:
        df = append_row(df, subject, electrode, data[electrode]['theta'],
                        dtype, data[electrode][dtype][:, 0],
                        data[electrode][dtype][:, 1])
        print(subject, electrode, dtype)

S05 C3 truth
S05 C3 pred
S06 A1 truth
S06 A1 pred

## Fig. S2.1

In [8]:
s05['B3'] = dict()
s05['B3']['theta'] = 143.0
s05['B3']['truth'] = np.array([0.07756, 205.96937, 0.15373, 120.96655,
                               0.22741, 64.27053, 0.53429, 47.96755,
                               0.76238, 37.33461, 0.98316, 33.52132,
                               2.04606, 26.97063, 4.04699, 21.37868]).reshape((-1, 2))
s05['C2'] = dict()
s05['C2']['theta'] = 14.0
s05['C2']['truth'] = np.array([0.07712, 227.65957, 0.15121, 94.68085,
                               0.22573, 61.70213, 0.52048, 34.04255,
                               0.74037, 23.40426, 0.95311, 24.46809,
                               1.97064, 17.02128, 3.91398, 11.70213]).reshape((-1, 2))

s06['B1'] = dict()
s06['B1']['theta'] = 505.5
s06['B1']['truth'] = np.array([0.07753, 122.28571, 0.15294, 69.71429,
                               0.23126, 53.14286, 0.53092, 36.00000,
                               0.76561, 33.14286, 0.99521, 22.85714,
                               2.03101, 23.42857, 4.05771, 20.57143]).reshape((-1, 2))

s06['C2'] = dict()
s06['C2']['theta'] = 1612.5
s06['C2']['truth'] = np.array([0.07230, 388.61875, 0.14830, 224.50029,
                               0.22335, 149.76748, 0.51484, 83.60937,
                               0.74227, 70.05793, 0.95780, 43.72195,
                               1.98942, 31.43510, 3.92670, 24.78584]).reshape((-1, 2))

In [9]:
for data, electrode in zip([s05, s05, s06, s06], ['B3', 'C2', 'B1', 'C2']):
    subject = data['name']
    for dtype in ['truth']:
        df = append_row(df, subject, electrode, data[electrode]['theta'],
                        dtype, data[electrode][dtype][:, 0],
                        data[electrode][dtype][:, 1])
        print(subject, electrode, dtype)

S05 B3 truth
S05 C2 truth
S06 B1 truth
S06 C2 truth

## Fig. S3.1

In [10]:
s05['A1'] = dict()
s05['A1']['theta'] = 11.2
s05['A1']['truth'] = np.array([0.07956, 144.59459, 0.15320, 77.02703,
                               0.23102, 66.21622, 0.52831, 33.78378,
                               0.74622, 32.43243, 0.99175, 27.02703,
                               2.02084, 27.70270, 4.02856, 22.97297]).reshape((-1, 2))
s05['C4'] = dict()
s05['C4']['theta'] = 140.0
s05['C4']['truth'] = np.array([0.07200, 207.47664, 0.14595, 98.13084,
                               0.22270, 69.15888, 0.52091, 38.31776,
                               0.74559, 31.77570, 0.96546, 29.90654,
                               1.99578, 21.49533, 4.00240, 15.88785]).reshape((-1, 2))

s06['B2'] = dict()
s06['B2']['theta'] = 132.0
s06['B2']['truth'] = np.array([0.07365, 179.47952, 0.14853, 111.66830,
                               0.22389, 77.36427, 0.52702, 51.62628,
                               0.75423, 39.99239, 0.98674, 32.52744,
                               2.01673, 30.26730, 4.04183, 25.47901]).reshape((-1, 2))

s06['D1'] = dict()
s06['D1']['theta'] = 132.0
s06['D1']['truth'] = np.array([0.07332, 451.73913, 0.14776, 192.13768,
                               0.21834, 133.09783, 0.51647, 66.95652,
                               0.74057, 51.72101, 0.96075, 42.91667,
                               1.97539, 35.36232, 3.94142, 27.86232]).reshape((-1, 2))

In [11]:
for data, electrode in zip([s05, s05, s06, s06], ['A1', 'C4', 'B2', 'D1']):
    subject = data['name']
    for dtype in ['truth']:
        df = append_row(df, subject, electrode, data[electrode]['theta'],
                        dtype, data[electrode][dtype][:, 0],
                        data[electrode][dtype][:, 1])
        print(subject, electrode, dtype)

S05 A1 truth
S05 C4 truth
S06 B2 truth
S06 D1 truth

In [12]:
df

,Subject,Electrode,theta,type,data,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,S05,C3,110.3,truth,0.07335,0.14914,0.21985,0.52707,0.7466,0.9698,1.97952,3.96939,181.61765,97.79412,64.70588,33.08824,29.41176,24.26471,18.38235,14.70588
1,S05,C3,110.3,pred,0.07366,0.14964,0.22443,0.53076,0.75387,0.99794,2.01142,3.98276,189.77047,95.14384,65.12623,33.78344,25.80726,22.22036,16.56183,13.8388
2,S06,A1,10.0,truth,0.07849,0.15524,0.2287,0.53016,0.76328,0.98404,2.02255,4.06677,84.93435,48.68901,37.13894,25.10288,20.78385,23.31178,15.35959,17.05271
3,S06,A1,10.0,pred,0.07892,0.15514,0.23022,0.51896,0.74122,0.97902,1.98159,3.97963,97.35058,47.30943,32.31432,16.12777,13.5293,11.58534,8.45385,7.38781
4,S05,B3,143.0,truth,0.07756,0.15373,0.22741,0.53429,0.76238,0.98316,2.04606,4.04699,205.96937,120.96655,64.27053,47.96755,37.33461,33.52132,26.97063,21.37868
5,S05,C2,14.0,truth,0.07712,0.15121,0.22573,0.52048,0.74037,0.95311,1.97064,3.91398,227.65957,94.68085,61.70213,34.04255,23.40426,24.46809,17.02128,11.70213
6,S06,B1,505.5,truth,0.07753,0.15294,0.23126,0.53092,0.76561,0.99521,2.03101,4.05771,122.28571,69.71429,53.14286,36.0,33.14286,22.85714,23.42857,20.57143
7,S06,C2,1612.5,truth,0.0723,0.1483,0.22335,0.51484,0.74227,0.9578,1.98942,3.9267,388.61875,224.50029,149.76748,83.60937,70.05793,43.72195,31.4351,24.78584
8,S05,A1,11.2,truth,0.07956,0.1532,0.23102,0.52831,0.74622,0.99175,2.02084,4.02856,144.59459,77.02703,66.21622,33.78378,32.43243,27.02703,27.7027,22.97297
9,S05,C4,140.0,truth,0.072,0.14595,0.2227,0.52091,0.74559,0.96546,1.99578,4.0024,207.47664,98.13084,69.15888,38.31776,31.7757,29.90654,21.49533,15.88785
10,S06,B2,132.0,truth,0.07365,0.14853,0.22389,0.52702,0.75423,0.98674,2.01673,4.04183,179.47952,111.6683,77.36427,51.62628,39.99239,32.52744,30.2673,25.47901
11,S06,D1,132.0,truth,0.07332,0.14776,0.21834,0.51647,0.74057,0.96075,1.97539,3.94142,451.73913,192.13768,133.09783,66.95652,51.72101,42.91667,35.36232,27.86232

In [13]:
writer = pd.ExcelWriter(environ['SECOND_SIGHT_DATA'] + '/horsager2009/single-pulse.xlsx')

In [14]:
df.to_excel(writer,'Sheet1')

In [15]:
writer.save()